html {
    scroll-behavior: smooth;
    transition: all 0.8s ease;

}

#logowhite {

    top: 0;
    left: 5px;
    width: 220px;
    margin-top: none;
    padding-bottom: 20px;
    height: 100px;
    position: fixed;
    z-index: 1;
}

@media only screen and (max-width: 768px) {

    /* Change the logo size and position for smaller screens */
    #logowhite {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 150px;
        height: 80px;
    }
}

@media only screen and (max-width: 480px) {

    /* Further adjust the logo size and position for even smaller screens */
    #logowhite {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 130px;
        height: 80px;
    }


}



#headings {
    font-size: 2em;
    font-weight: 500;
    color: white;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}



section.courses {
    background-image: url(../images/wallpaper.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-color: #000000;
    padding-bottom: 100px;
    padding: 0px 30px 100px 30px;
}



section.video {
    background-image: url(../images/wallpaper.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-color: #000000;
    padding: 120px 0px;
}



@media screen and (max-width: 767px) {

    section.video .left-content {
        margin-bottom: 45px;
    }

    section.video .first-item .first-content h4,
    section.video .second-item .second-content h4 {
        text-align: center;
    }

}


.video-item figure img {
    width: 100%;
}

#aboutusheading {
    font-size: 2em;
}

#aboutusdiv {
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: inherit;
    column-gap: 10%;
    margin-bottom: auto;
    /* Vertical alignment */
}

.image {
    margin-top: 10%;
    margin-bottom: 2%;
    flex: 1;
    border-radius: 2%;

    /* Take up 50% of the container width */
}

.text {
    flex: 1;
    padding: 20px;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}

#textslogan {
    font-weight: 800;
    margin-top: 5%;
    font-size: larger;
}

@media (max-width: 480px) {

    #aboutusheading {
        text-align: center;
        font-size: larger;
    }

    #aboutusdiv {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        text-align: center;
    }

    .image {
        max-width: 100%;
        margin-bottom: auto;
        /* Take up 50% of the container width */
    }

    .text {
        padding: 20px;

    }


}


@media (max-width: 680px) {


    #aboutusheading {
        text-align: center;
    }

    #aboutusdiv {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        text-align: center;
    }

    .image {
        max-width: 100%;
        margin-bottom: auto;
        /* Take up 50% of the container width */
    }

    .text {
        padding: 20px;

    }
}

@media (max-width: 360px) {


    #balls {
        display: none;
    }

    #aboutusheading {
        text-align: center;
    }

    #aboutusdiv {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        text-align: center;
    }

    .image {
        padding: none;
        max-width: 100%;
        margin-bottom: auto;
        /* Take up 50% of the container width */
    }

    .text {
        padding: 5px;

    }
}



@media (min-width: 680px) and (max-width: 1000px) {
    #textslogan {
        margin-top: 5%;
        font-size: 1em;
    }

    #aboutusheading {
        text-align: center;
    }


    #aboutusdiv {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        text-align: center;
    }

    .image {
        max-width: 100%;
        margin-bottom: auto;
        /* Take up 50% of the container width */
    }

    .text {
        padding: 20px;

    }
}



/* Base styles for larger screens */
.section.video {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.socialcontent {
    margin: 0 auto;
    max-width: 400px;
}

#socials-text {
    font-size: 24px;
    font-weight: 00px;
    color: aliceblue;
}

.socials {
    margin-top: 20px;
}

#social-logos {
    text-decoration: none;
    font-size: 32px;
    margin: 10px;
    color: #0077B5;
    /* LinkedIn color */
    transition: all 0.5s ease;
}

#social-logos.fa-instagram {
    color: #E4405F;
    /* Instagram color */
}

#social-logos.fa-twitter {
    color: #1DA1F2;
    /* Twitter color */
}

#social-logos:hover {
    font-size: larger;
}


.image:hover {

    transform: scale(0.8);
    filter: grayscale(80%);

}

.image {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.image:not(:hover) img {
    filter: grayscale(0%);
}


/* Styles for the page divider */
.divider {
    width: 100%;
    height: 4px;
    background-color: #333;
    position: relative;
    overflow: hidden;
    margin-top: none;
    margin-bottom: none;
}

/* Styles for the animated bar */
.bar {
    width: 0;
    height: 100%;
    background-color: #007BFF;
    /* Change to your preferred color */
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
}

/* Hover effect */
.divider:hover .bar {
    width: 100%;
}



@keyframes moveElement {
    0% {
        transform: translate(-50%, -50%) translateX(0);
    }

    100% {
        transform: translate(-50%, -50%) translateX(100px);
    }
}