body {
    font-family: 'Jost', sans-serif;
    background-color:rgb(39, 0, 93);
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 480px) {

    /* Further adjust the logo size and position for even smaller screens */
    #logowhite {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 130px;
        height: 80px;
    }
}




#blogbtn {
    background: rgb(245, 167, 37);
}


@import url(fontawesome.css);

#logowhite {

    top: 10px;
    left: 5px;
    width: 220px;
    margin-top: none;
    padding-bottom: 20px;
    height: 100px;
    position: fixed;
    z-index: 1;
}


    @media only screen and (max-width: 768px) {

        /* Change the logo size and position for smaller screens */
        #logowhite {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 150px;
            height: 80px;
        }


    }

    @media only screen and (max-width: 480px) {

        /* Further adjust the logo size and position for even smaller screens */
        #logowhite {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 130px;
            height: 80px;
        }
    }

    .container {   
     max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


.post {
    transition: all 0.5s ease;

    text-align: center;
    border: 2px solid black;
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}


.post:hover {
    box-shadow: 10px 10px black;
}

.post a {
    text-decoration: none;
    color: inherit;
}

.post img {
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.post h2 {
    margin-bottom: 0.5rem;
}

.post p {
    margin-bottom: 1rem;
}



