body {
    font-family: 'Jost', sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}




#blogbtn {
    background: rgb(245, 167, 37);
}


@import url(fontawesome.css);

    #logowhite {

        top: 5px;
        left: 5px;
        width: 220px;
        margin-top: none;
        padding-bottom: 20px;
        height: 100px;
        position: fixed;
        z-index: 1;
    }


    @media only screen and (max-width: 768px) {

        /* Change the logo size and position for smaller screens */
        #logowhite {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 150px;
            height: 80px;
        }


    }

    @media only screen and (max-width: 480px) {

        /* Further adjust the logo size and position for even smaller screens */
        #logowhite {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 130px;
            height: 80px;
        }
    }

