@import url(fontawesome.css);

    body {
        font-family: 'Jost', sans-serif;
        background-color: #000;
    }

    /* Basic */

    a {
        color: #3CF;
        text-decoration: none;
    }

    a:hover {
        color: #FC3;
        text-decoration: none;
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    p {
        font-size: 13px;
        line-height: 22px;
    }


    .section-heading {
        text-align: center;
        margin-bottom: 70px;
    }

    .section-heading h2:before {
        width: 1px;
        height: 100px;
        background-color: rgba(250, 250, 250, 0.1);
        position: absolute;
        top: -102px;
        content: '';
        left: 50%;
        transform: translate(-50%);
    }

    .section-heading h2 {
        margin-top: 100px;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.5px;
        display: inline-block;
        padding: 15px 20px;
        border: 2px solid rgba(250, 250, 250, 0.1);
    }


    /* Buttons */



    a.menu-link {
        display: none;
    }

    @media screen and (max-width: 950px) {
        a.menu-link {
            float: right;
            display: block;
            font-size: 36px;
            color: #fff;
            padding-right: 30px;
            padding-top: 15px;
        }

        nav[role="navigation"] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .js nav[role="navigation"] {
            overflow: hidden;
            max-height: 0;
        }

        nav[role="navigation"].active {
            max-height: 20em;
            height: 20em;
            overflow-y: scroll;
        }

        nav[role="navigation"] ul {
            top: 0;
            width: 100%;
            position: relative;
            margin: 0;
            padding: 0;
            border-top: 1px solid rgba(250, 250, 250, 0.25);
            background-color: rgba(4, 4, 4, 0.99);
        }

        nav[role="navigation"] li a {
            display: block;
            padding: 15px 0px;
            border-bottom: 1px solid rgba(250, 250, 250, 0.25);
            text-align: center;
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1.5;
        }

        nav[role="navigation"] li:hover a,
        nav[role="navigation"] li.active a {
            color: #f5a425;
        }

        @media screen and (min-width: 951px) {
            .js nav[role="navigation"] {
                max-height: none;
            }

            nav[role="navigation"] li {
                display: inline-block;
                margin: 0 0.25em;
            }

            nav[role="navigation"] li a {
                border: 0;
            }
        }
    }

    /* Header */

    @media screen and (max-width: 1050px) {
        .main-header .logo {
            padding-left: 30px !important;
        }

        .main-menu {
            padding-right: 30px !important;
        }

        .main-menu li {
            margin-left: 5px !important;
        }
    }

    .main-header {
        background-color: rgba(2, 2, 2, 0.95);
        height: 80px;
        position: fixed;
        z-index: 12;
        width: 100%;
        top: 0;
    }

    .main-header .logo {
        float: left;
        line-height: 80px;
        padding-left: 60px;
    }

    .main-header .logo a {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
    }

    .main-header .logo a em {
        font-style: normal;
        color: #f5a425;
    }

    .main-menu {
        float: right;
        padding-right: 60px;
    }

    .main-menu li {
        display: inline-block;
        line-height: 79px;
        margin-left: 15px;
        position: relative;
    }

    .main-menu li:first-child {
        margin-left: 0px;
    }

    .main-menu li a {
        padding: 10px 15px;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 700;
        color: #fff;
        border: 2px solid transparent;
        transition: all 0.5s;
    }

    .main-menu li.has-submenu a:after {
        content: '\f107';
        font-family: "FontAwesome";
        margin-left: 5px;
    }

    .main-menu li.has-submenu ul li a:after {
        display: none;
    }

    .main-menu li .sub-menu {
        position: absolute;
        width: 160px;
        background-color: #000000;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

    .main-menu li:hover .sub-menu {
        opacity: 1;
        visibility: visible;
    }

    .main-menu li .sub-menu li {
        display: block;
        line-height: 20px;
        margin-left: 0px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #000000;
    }

    .main-menu li .sub-menu li:first-child {
        padding-top: 15px;
    }

    .main-menu li .sub-menu li:last-child {
        margin-bottom: 0px;
        border-bottom: none;
    }

    .main-menu li .sub-menu li a {
        font-size: 12px;
        font-weight: 500;
        padding: 0px 15px;
        letter-spacing: 0.5px;
        border: none;
        transition: all 0.5s;
    }

    .main-menu li .sub-menu li a:hover {
        color: #f5a425;
        border: none;
    }

    .main-nav li:hover a,
    .main-nav li.active a {
        border: 2px solid #f5a425;
    }

    @media (max-width: 950px) {

        .main-nav li:hover a,
        .main-nav li.active a {
            border: 2px solid transparent;
            border-bottom: 1px solid rgba(250, 250, 250, 0.25);
        }
    }


    .main-banner .caption {
        text-align: left;
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .main-banner .caption h6 {
        text-align: center;
        margin-top: 0px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        letter-spacing: 1px;
    }

    .main-banner .caption h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 64px;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        letter-spacing: 1px;
    }

    .main-banner .caption h2 em {
        font-style: normal;
        color: #f5a425;
        font-weight: 900;
    }

    @media screen and (max-width: 1180px) {

        .main-banner .caption h6 {
            font-weight: 500;
        }

        .main-banner .caption h2 {
            font-size: 58px;
        }

    }

    @media screen and (max-width: 767px) {

        .main-banner .caption h6 {
            font-weight: 500;
        }

        .main-banner .caption h2 {
            font-size: 36px;
        }

    }


    @media only screen and (max-width: 768px) {

        /* Change the logo size and position for smaller screens */
        #logowhite {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 150px;
            height: 80px;
        }


    }

    @media only screen and (max-width: 480px) {

        /* Further adjust the logo size and position for even smaller screens */
        #logowhite {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 130px;
            height: 80px;
        }
    }


    #course-btn {
        font-family: 'Jost', sans-serif;
        font-weight: 500;
        margin: 2%;
    }

    #contact-form {
        background: grey;
        margin-bottom: 5%;
        width: 80%;
        height: 100%;
        margin-left: 15%;
        border-radius: none;
    }



    @media only screen and (max-width: 768px) {

        #contact-form {
            background: grey;
            margin-bottom: 20%;
            width: 80%;
            height: 100%;
            margin-left: none;
            border-radius: none;
        }

        #map {
            display: block;
            margin-left: auto;
            margin-top: 20px;
        }
    }

    @media only screen and (max-width: 480px) {
        #map {
            display: none;
        }

        #contact-form {
            background: grey;
            margin-bottom: 10px;
            width: 80%;
            height: 1000px;
            margin-left: none;
            border-radius: none;
        }
    }



    .left-content {
        color: aliceblue;
    }


    #body {
        background-image: url(../images/choosing-bg.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #000000;
        padding-bottom: 100px;
        padding: 0px 30px 100px 30px;
    }

    #bg-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    #bg-video::-webkit-media-controls {
        display: none !important;
    }

    .video-overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.85);
        top: 0;
        left: 0;
        bottom: 7px;
        width: 100%;
    }



    .main-button {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .main-button a {
        background-color: #f5a425;
        color: #fff;
        font-size: 13px;
        min-width: 200px;
        margin: 4px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 700;
        padding: 12px 20px;
        display: block;
        outline: none;
        text-align: center;
    }

    .section2 {
        background-image: url(../images/wallpaper.jpg);
        background-color: #030303;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
    }

    #courseimg {
        height: fit-content;
        width: fit-content;
    }

    @import url(fontawesome.css);
   

        body {
            font-family: 'Jost', sans-serif;
        }

        /* Basic */

        a {
            color: #3CF;
            text-decoration: none;
        }

        a:hover {
            color: #FC3;
            text-decoration: none;
        }

        ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
        }

        p {
            font-size: 13px;
            line-height: 22px;
        }


        .section-heading {
            text-align: center;
            margin-bottom: 70px;
        }

        .section-heading h2:before {
            width: 1px;
            height: 100px;
            background-color: rgba(250, 250, 250, 0.1);
            position: absolute;
            top: -102px;
            content: '';
            left: 50%;
            transform: translate(-50%);
        }

        .section-heading h2 {
            margin-top: 100px;
            position: relative;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            letter-spacing: 0.5px;
            display: inline-block;
            padding: 15px 20px;
            border: 2px solid rgba(250, 250, 250, 0.1);
        }


        /* Buttons */



        a.menu-link {
            display: none;
        }

        @media screen and (max-width: 950px) {
            a.menu-link {
                float: right;
                display: block;
                font-size: 36px;
                color: #fff;
                padding-right: 30px;
                padding-top: 15px;
            }

            nav[role="navigation"] {
                clear: both;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }

            .js nav[role="navigation"] {
                overflow: hidden;
                max-height: 0;
            }

            nav[role="navigation"].active {
                max-height: 20em;
                height: 20em;
                overflow-y: scroll;
            }

            nav[role="navigation"] ul {
                top: 0;
                width: 100%;
                position: relative;
                margin: 0;
                padding: 0;
                border-top: 1px solid rgba(250, 250, 250, 0.25);
                background-color: rgba(4, 4, 4, 0.99);
            }

            nav[role="navigation"] li a {
                display: block;
                padding: 15px 0px;
                border-bottom: 1px solid rgba(250, 250, 250, 0.25);
                text-align: center;
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.5;
            }

            nav[role="navigation"] li:hover a,
            nav[role="navigation"] li.active a {
                color: #f5a425;
            }

            @media screen and (min-width: 951px) {
                .js nav[role="navigation"] {
                    max-height: none;
                }

                nav[role="navigation"] li {
                    display: inline-block;
                    margin: 0 0.25em;
                }

                nav[role="navigation"] li a {
                    border: 0;
                }
            }
        }

        /* Header */

        @media screen and (max-width: 1050px) {
            .main-header .logo {
                padding-left: 30px !important;
            }

            .main-menu {
                padding-right: 30px !important;
            }

            .main-menu li {
                margin-left: 5px !important;
            }
        }

        .main-header {
            background-color:#27005d;
            position: fixed;
            z-index: 12;
            width: 100%;
            top: 0;
        }

        .main-header .logo {
            float: left;
            line-height: 80px;
            padding-left: 60px;
        }

        .main-header .logo a {
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 800;
            color: #fff;
        }

        .main-header .logo a em {
            font-style: normal;
            color: #f5a425;
        }

        .main-menu {
            float: right;
            padding-right: 60px;
        }

        .main-menu li {
            display: inline-block;
            line-height: 79px;
            margin-left: 15px;
            position: relative;
        }

        .main-menu li:first-child {
            margin-left: 0px;
        }

        .main-menu li a {
            padding: 10px 15px;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 700;
            color: #fff;
            border: 2px solid transparent;
            transition: all 0.5s;
        }

        .main-menu li.has-submenu a:after {
            content: '\f107';
            font-family: "FontAwesome";
            margin-left: 5px;
        }

        .main-menu li.has-submenu ul li a:after {
            display: none;
        }

        .main-menu li .sub-menu {
            position: absolute;
            width: 160px;
            background-color: #000000;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
        }

        .main-menu li:hover .sub-menu {
            opacity: 1;
            visibility: visible;
        }

        .main-menu li .sub-menu li {
            display: block;
            line-height: 20px;
            margin-left: 0px;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #000000;
        }

        .main-menu li .sub-menu li:first-child {
            padding-top: 15px;
        }

        .main-menu li .sub-menu li:last-child {
            margin-bottom: 0px;
            border-bottom: none;
        }

        .main-menu li .sub-menu li a {
            font-size: 12px;
            font-weight: 500;
            padding: 0px 15px;
            letter-spacing: 0.5px;
            border: none;
            transition: all 0.5s;
        }

        .main-menu li .sub-menu li a:hover {
            color: #f5a425;
            border: none;
        }

        .main-nav li:hover a,
        .main-nav li.active a {
            border: 2px solid #f5a425;
        }

        @media (max-width: 950px) {

            .main-nav li:hover a,
            .main-nav li.active a {
                border: 2px solid transparent;
                border-bottom: 1px solid rgba(250, 250, 250, 0.25);
            }
        }


        /* Slider */

        .main-banner {
            position: relative;
            max-height: 100%;
            overflow: hidden;
            margin-bottom: -7px;
        }

        #bg-video {
            min-width: 100%;
            min-height: 100vh;
            max-width: 100%;
            max-height: 100vh;
            object-fit: cover;
            z-index: -1;
        }

        #bg-video::-webkit-media-controls {
            display: none !important;
        }

        .video-overlay {
            position: absolute;
            background-color: rgb(39, 0, 93);
            top: 0;
            left: 0;
            bottom: 7px;
            width: 100%;
        }

 
        
        @media screen and (max-width: 767px) {
            section.contact form {
                margin-bottom: 30px;
            }
        }

        /* Footer */

        footer {
            background-color: #000000;
            text-align: center;
        }

        footer p {
            margin-bottom: 0px;
            padding: 25px 0px;
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.5px;
        }

        footer p a,
        footer p a:hover {
            color: #f5a425;
        }

        @media screen and (max-width: 992px) {
            .features {
                background-color: #0c1228;
            }

            .features-content {
                position: relative;
            }

            .features-post {
                border-left: 0
            }
        }

        @media screen and (max-width: 950px) {
            .main-menu {
                padding-right: 0 !important;
            }

            .main-header .logo {
                line-height: 73px;
            }

            .main-menu li {
                display: block;
                line-height: 1;
                margin-left: 0 !important;
            }

            .main-menu li .sub-menu {
                opacity: 1;
                visibility: visible;
                position: static;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }

            .main-menu li .sub-menu li:last-child {
                border-bottom: 1px solid rgba(250, 250, 250, 0.25);
            }
        }

        @media screen and (max-width: 950px) and (max-height: 400px) {
            nav[role="navigation"].active {
                max-height: calc(80px + 100vh);
                overflow-y: auto;
            }
        }


      

        #bodySection {
            background: fixed;
            background-image: url(../images/wallpaper2.jpg);
            color: #CCC;
        }

        .form-container {
            border: #CCC;
            background-color: rgba(39, 0, 93);
            color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
            width: 80%;
            max-width: 600px;
            margin: 0 auto;
        }

        .form-container label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .form-container input[type="email"],
        .form-container textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;

        }

        .form-container input[type="text"],
        .form-container text {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
        }

        .form-container button {
            background-color: #f5a425;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .form-container button:hover {
            background-color:#3CF;
            color:black;
            font-size: larger;
        }

        #contactform {
            border: 5px solid #ccc;
            border-radius: 2%;
            padding: 20px;
            /* Add padding for spacing between content and border */
            /* Adjust the width as needed */
            /* Center the form horizontally */
        }

        @media (max-width: 600px) {
            #contactform {
                width: 100%;
                /* Make the form span the full width of the screen */
                padding: 10px;
                /* Reduce padding for smaller screens */
            }
        }

#interest{
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

#contactformheading{
    margin-top:20px ;
    color: aliceblue;
}


        