body {
    background-color: #f2f2f2;
    font-family: montserrat;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#maindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: max-content;

}