html {
    scroll-behavior: smooth;
}

body{
    background-image: url('/assets/images/bghome.jpg');
    
}
#top{
    top: 95px;
}

#homeheading{
    margin-top: 0%;
    text-align: center;
    font-size: 100px;
    color: white;
    font-weight: 700;
    
}

em{
    font-style: normal;
        color: #f5a425;
        font-weight: 700;

}



@media only screen and (max-width: 768px) {

    /* Change the logo size and position for smaller screens */
    #logowhite {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 150px;
        height: 80px;
    }


}

@media only screen and (max-width: 480px) {

    /* Further adjust the logo size and position for even smaller screens */
    #logowhite {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 130px;
        height: 80px;
    }
}


#course-btn {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    margin: 2%;
}

#contact-form {
    background: grey;
    margin-bottom: 5%;
    width: 80%;
    height: 100%;
    margin-left: 15%;
    border-radius: none;
}

#top    {
margin-top: 80px;
}

@media only screen and (max-width: 768px) {

    #contact-form {
        background: grey;
        margin-bottom: 20%;
        width: 80%;
        height: 100%;
        margin-left: none;
        border-radius: none;
    }

    #map {
        display: block;
        margin-left: auto;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #map {
        display: none;
    }

    #contact-form {
        background: grey;
        margin-bottom: 10px;
        width: 80%;
        height: 1000px;
        margin-left: none;
        border-radius: none;
    }
}



.left-content {
    color: aliceblue;
}

.intro-tagline {
    text-align: center;
    font-size: 1.5em; /* Adjust size as needed */
    margin-bottom: 10px;
    color: aliceblue; /* Adjust color as needed */
  }


#body {
    background-image: url(../images/choosing-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    padding-bottom: 100px;
    padding: 0px 30px 100px 30px;
}

@media screen and (max-width: 1180px) {

    #homeheading {
        font-weight: 500;
    }

    #homeheading {
        font-size: 58px;
    }

}

@media screen and (max-width: 860px) {

    #homeheading {
        font-weight: 500;
        font-size: 40px;
    }


}

.main-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.main-button a {
    background-color: rgba(225, 137, 3, 0.95);
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
    min-width: 200px;
    margin: 10px;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 12px 20px;
    display: block;
    outline: none;
    text-align: center;
}
.main-button a:hover{
    background-color: antiquewhite;
    color: #000000;
    transition: 0.4s;
    
}


/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparent black */
    backdrop-filter: blur(10px);
    /* Apply a blur effect */
    z-index: 9999;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the card */
.card {
    background-color: rgba(0, 88, 231, 0.742);
    color: aliceblue;
    /* Translucent white */
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

/* Styles for the close button */
.close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
